[submodule "graphed-orchestrator"]
	path = graphed-orchestrator
	url = git@github.com:graphed-org/graphed-orchestrator.git
[submodule "graphed-corpus"]
	path = graphed-corpus
	url = git@github.com:graphed-org/graphed-corpus.git
[submodule "graphed-core"]
	path = graphed-core
	url = git@github.com:graphed-org/graphed-core.git
